/* -- Layout ------------------------------- */



div.fieldset {
  border:  1px solid #afe14c;
  margin: 10px 0;
  padding: 20px 10px;
}
div.fieldset span.legend {
  position: relative;
  background-color: #FFF;
  padding: 3px;
  top: -30px;
  font: 700 14px Arial, Helvetica, sans-serif;
  color: #73b304;
}

div.flash {
  width: 375px;
  margin: 10px 5px;
  border-color: #D9E4FF;

  -moz-border-radius-topleft : 5px;
  -webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}

button,
input,
select,
textarea { 
  border-width: 1px; 
  margin-bottom: 10px;
  padding: 2px 3px;
}



input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */


label { 
  width: 150px; 
  text-align: right; 
  display:block;
  margin-right: 5px;
}                               



/*
Default style definitions for:

Uploadify v1.6.2
Copyright (C) 2009 by Ronnie Garcia
Co-developed by Travis Nickels
*/
.fileUploadQueueItem {
  font: 11px Verdana, Geneva, sans-serif;
  background-color: #F5F5F5;
  border: 3px solid #E5E5E5;
  margin-top: 5px;
  padding: 10px;
  width: 300px;
}
.fileUploadQueueItem .cancel {
  float: right;
}
.fileUploadProgress {
  background-color: #FFFFFF;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
  margin-top: 10px;
  width: 100%;
}
.fileUploadProgressBar {
  background-color: #0099FF;
}




/*
  sfImaginable extra styles
*/

#indicator{
  display:none; 
  margin: auto; 
  vertical-align:middle;
}

.loading-error{
  background-color: #FFFF66; 
  border-top: solid 4px #FF9966; 
  border-bottom: solid 4px #FF9966; 
  margin: 10px 25px; 
  padding: 10px 15px;
}

div.loading-error{
    display: none;  
}

div.sfImaginable_list_record{
  width: 100%; 
  height: 97px;
}

div.sfImaginable_list_record-highlight{
  width: 100%; 
  height: 97px;
  background-color: #FFFF66; 
}

div.sfImaginable_list_record p{
  margin-left: 90px; 
  margin-bottom: 10px
}
